<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/feather-icons"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Pawon Sasak Lombok</title>

    <!-- STYLING DARK MODE -->
    <style>
      .dark-mode {
        background-color: black;
        color: white;
      }
      .dark-mode .artikel {
        color: black;
      }
      .dark-mode .header__title {
        color: rgb(245, 242, 242);
      }
    </style>

    <!-- JAVASCRIPT DARK MODE -->
    <script>
      function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>
  </head>

  <body>
    <!-- AKSESIBILITAS SKIP CONTENT -->
    <a href="#post" class="skip-link">Skip to content ?</a>

    <!-- PRODUCT NAME HEADER -->
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Pawon Sasak Lombok</h1>
      </div>

      <!-- HAMBURGER MENU MOBILE -->
      <a id="menu" class="header__menu">☰</a>
    </header>

    <!-- NAVIGATION MENU -->

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/LexuzZ">About Us</a>
        </li>
        <li class="nav__item">
          <a href="#" onclick="myFunction()"><i data-feather="moon"></i></a>
        </li>
      </ul>
    </nav>

    <!-- JUMBOTRON -->
    <div
      class="hero-jumbotron"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 5, 0.5),
            rgba(0, 0, 5, 0.5)
          ),
          url('images/heros/hero-image_4.jpg');
      "
    >
      <div class="hero-inner">
        <h1 class="hero-title">Pawon Sasak</h1>
        <p class="hero-description">
          Temukan Restaurant dengan rating terbaik.
        </p>
      </div>
    </div>

    <!-- CARVIEW CONTENT -->
    <main id="post">
      <section class="post">
        <div class="main-content">
          <h1>Jelajahi Wisata Kuliner</h1>
          <div class="list" id="cardview"></div>
        </div>
      </section>
    </main>

    <!-- FOOTER  -->
    <footer id="footer" class="site-footer">
      <div class="container"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright &copy; 2023 All Rights Reserved by Pawon Sasak Lombok.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="https://facebook.com"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>

              <li>
                <a
                  class="instagram"
                  href="https://www.instagram.com/hrl.takaaa_/"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>

              <li>
                <a class="github" href="https://github.com/LexuzZ"
                  ><i class="fa fa-github"></i
                ></a>
              </li>
              <li>
                <a
                  class="linkedin"
                  href="https://www.linkedin.com/in/haerul-taka-b55656204/"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- FEATHER ICON JAVASCRIPT-->
    <script>
      feather.replace();
    </script>
  </body>
</html>
